@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

#header-image {
    background-image: url("https://www.taruk.com/fileadmin/user_upload/KONTINENTE/AFRIKA/REISEN/MAROKKO/LAND_UND_LEUTE/HEADER_BILD/Marokko-Reise-Gerberei-in-Fes.JPG");
    height: 50vh;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin:0%;
    position:relative;
    flex-direction:column;
}

#header-image:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    z-index:1;
}


.text-white {
    position: relative;
    z-index:2;
    color: #FFFFF0;
}

.subtitle {
    font-size:1.2em;
    margin-top:10px;
}
nav {
    margin-top:0%;
    text-align: center;
    background-color:#471507;
}
nav > ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

nav li {
    font-size: 1.1em;
    display: inline-block;
    margin-left:10%;
}

nav a {
    text-decoration:none;
    color:white;
    font-weight:bold;
}

nav a:hover {
    color:#D3A96C;
    text-decoration:underline;
}

body {
    margin:0%;
    padding:0;
    font-family: "Handlee", cursive;
    background-color:white;
}


.brief-history {
    text-align:left;
}

.brief-history{
    width: 700px;
    margin:2%;
    text-align:justify;
}