@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* Header Content */
#header-image {
    background-image: url("https://www.taruk.com/fileadmin/user_upload/KONTINENTE/AFRIKA/REISEN/MAROKKO/LAND_UND_LEUTE/HEADER_BILD/Marokko-Reise-Gerberei-in-Fes.JPG");
    height: 50vh;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    position:relative;
    flex-direction:column;
}

/* Header overlay */
#header-image:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    z-index:1;
}

/* Styles for header text elements */
.text-white {
    position: relative;
    z-index:2;
    color: #FFFFF0;
}

.subtitle {
    font-size:1.2em;
    margin-top:10px;
}

 /* Navigation styles */ 
nav {
    text-align: center;
    background-color:#471507;
    padding: 10px 0px;
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

nav li {
    font-size: 1.1em;
    display: inline-block;
    margin:0 10px;
}

nav a {
    text-decoration:none;
    color:white;
    font-weight:bold;
}

nav a:hover {
    color:#D3A96C;
    text-decoration:underline;
}
/* Body styles */ 
body {
    font-size:1.1em;
    margin:0%;
    padding:0;
    font-family: "Handlee", cursive;
    background-color: #D3A96C;
    color:white;
}

/* First paragraph styls */
#website-owner-image {
    float:right;
    width:100%;
    max-width:220px;
    margin: 0 5% 5% 5%;
    border-radius:10px;
}

.text-left {
    margin: 5% 5% 13% 5%;
    text-align:justify;
}


#ancient-morocco-video {
    float:right;
    width:100%;
    max-width: 300px;
    margin: 5% 5% 5% 5%;
}

#tangier-image {
    float:right;
    width:100%;
    max-width:250px;
    margin: 0 5% 5% 5%;
    border-radius:10px;
}


/* Second Paragraph styles */
#riad-image {
    float:left;
    width:100%;
    max-width: 250px;
    margin: 5% 5% 0% 5%;
    border-radius:10px;
}

.text-right {
    margin:5% 5% 12% 5%;
    text-align:justify;
}

#modern-history-morocco {
    float:left;
    width:100%;
    max-width: 300px;
    margin: 15% 5% 10% 5%;
}

#marrakech-image {
    float:left;
    width:100%;
    max-width: 300px;
    margin: 5% 5% 0% 5%;
    border-radius:10px;
}

/* Third Paragraph */
#fes-image {
    float:right;
    width:100%;
    max-width:200px;
    margin: 5%;
    border-radius:10px;
}

/* Forth Paragraph */

#casablance-image {
    float:left;
    width:100%;
    max-width: 230px;
    margin: 5% 5% 0% 5%;
    border-radius:10px;
}


/* Style hyperlink */
a {
    font-weight:bold;
    color:inherit;
}
hr {
    margin:0;
    padding:0;
    border: none;
    border-top:2px solid #471507;
}
/* Contact section */
#contact-section {
    text-align:cener;
    margin:5%;
}

/*Form styles */
form {
    max-width: 200px;
    margin: 0 auto;
}

/*Label and input styles */
label, input, textarea {
    display:block;
    margin:1%;
    width:100%;
}

/*Checkbox and label styles */
.checkbox-container, .radio-container {
    display:block;
    align-items:center;
    margin:2% 0;
    width:auto;
}

.checkbox-container label, .radio-container label {
    width:auto;
    margin-bottom:0;
}

input[type="checkbox"], input[type="radio"] {
    width:auto;
    margin-bottom:2%;
}

#newsletter {
    margin-bottom: 2%;
}

/*Submit button styles */
input[type="submit"] {
    background-color:#471507;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:5px;
    cursor: pointer;
    margin-top:3%;
}

/*Footer styles */
footer {
    background-color: #471507;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

footer li {
    font-size: 1.5em;
    display: inline-block;
    margin:0 25px;
}

.footer-text {
    margin-top: 15px;
    font-size: 14px;
}

@media (max-width:768px){
    main, footer {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        text-align:center;
        width:100%;
        margin: 5% 0 0 0;
    }
}
@media (max-width:768px){
    nav {
        width:100%;
    }
}
